<%- include('_header', { title: t.welcome_heading }) %>
<div class="card center">
  <h1><%= t.welcome_heading %> to MyApp</h1>
  <p><%= t.welcome_subtitle %></p>
  <a href="/auth/login" class="btn"><%= t.sign_in %></a>
</div>
<%- include('_footer') %>
